<footer class="page-footer">
  <div class="row">
    <div class="col l6 s12">
      <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet,
        Quisque id eros quis dui consectetur condimentum non ut neque.
        Integer in risus ullamcorper, interdum dui vel, dictum diam.</p>
    </div>
  </div>
</footer>