<div class="nested-fields" style="padding:5px; margin:10px 0px 10px 0px; border: 1px gray dotted;">
	<%= f.input :name, placeholder: "Type Name ..." %>
	<%= f.input :price, placeholder: "Price ..." %>
	<%= f.input :max_quantity, placeholder: "Max quantity ..." %>
	<%= link_to_remove_association "remove", f, class: "btn btn-danger"%>
</div>
